<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <queries>
        <package android:name="androidx.test.orchestrator" />
        <package android:name="androidx.test.services" />
        <package android:name="com.google.android.apps.common.testing.services" />
    </queries>

    <application>

        <meta-data
            android:name="org.chromium.content.browser.NUM_SANDBOXED_SERVICES"
            android:value="40" />

        <service
            android:name="org.chromium.content.app.SandboxedProcessService0"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process0"
            android:useAppZygote="true" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService1"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process1" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService2"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process2" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService3"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process3" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService4"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process4" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService5"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process5" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService6"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process6" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService7"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process7" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService8"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process8" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService9"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process9" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService10"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process10" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService11"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process11" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService12"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process12" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService13"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process13" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService14"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process14" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService15"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process15" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService16"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process16" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService17"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process17" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService18"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process18" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService19"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process19" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService20"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process20" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService21"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process21" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService22"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process22" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService23"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process23" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService24"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process24" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService25"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process25" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService26"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process26" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService27"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process27" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService28"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process28" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService29"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process29" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService30"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process30" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService31"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process31" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService32"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process32" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService33"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process33" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService34"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process34" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService35"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process35" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService36"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process36" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService37"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process37" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService38"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process38" />
        <service
            android:name="org.chromium.content.app.SandboxedProcessService39"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":sandboxed_process39" />

        <meta-data
            android:name="org.chromium.content.browser.NUM_PRIVILEGED_SERVICES"
            android:value="5" />

        <service
            android:name="org.chromium.content.app.PrivilegedProcessService0"
            android:exported="false"
            android:isolatedProcess="false"
            android:process=":privileged_process0" />
        <service
            android:name="org.chromium.content.app.PrivilegedProcessService1"
            android:exported="false"
            android:isolatedProcess="false"
            android:process=":privileged_process1" />
        <service
            android:name="org.chromium.content.app.PrivilegedProcessService2"
            android:exported="false"
            android:isolatedProcess="false"
            android:process=":privileged_process2" />
        <service
            android:name="org.chromium.content.app.PrivilegedProcessService3"
            android:exported="false"
            android:isolatedProcess="false"
            android:process=":privileged_process3" />
        <service
            android:name="org.chromium.content.app.PrivilegedProcessService4"
            android:exported="false"
            android:isolatedProcess="false"
            android:process=":privileged_process4" />

        <meta-data
            android:name="org.chromium.content.browser.SMART_CLIP_PROVIDER"
            android:value="org.chromium.content.browser.SmartClipProvider" />


        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="android.ext.adservices"
            android:required="false" />
    </application>
</manifest>
