<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.example.chromium_content_view.ContentShellApplication"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Content Shell"
        android:zygotePreloadName="org.chromium.content_public.app.ZygotePreload">
        <activity
            android:name="com.example.chromium_content_view.ContentShellActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

    </application>

</manifest>